<div id="totalxd" class="">
    <!-- Data right -->
    <div id="data">
        <div id="tabs" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
            <div id="minmax_total" class="minimize" ng-click="showHideTabs()"></div>
            <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
                <li ng-class="{'ui-tabs-selected ui-state-active': tab == 1}" class="ui-state-default ui-corner-top">
                    <a ng-click="changeTab(1)">Resumen</a>
                </li>
                <li ng-class="{'ui-tabs-selected ui-state-active': tab == 2}" class="ui-state-default ui-corner-top">
                    <a ng-click="changeTab(2)">Categorias</a>
                </li>
                <li ng-class="{'ui-tabs-selected ui-state-active': tab == 3}" class="ui-state-default ui-corner-top">
                    <a ng-click="changeTab(3)">Departamentos</a>
                </li>
            </ul>
            <div id="tendencia" ng-class="{'ui-tabs-hide' : tab != 1, 'hidden' : !showTabs}" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
                <div id="chart_t_s">
                    <div class="left" id="chart_total">
                        <div ng-class="{'ec':$index % 2==0, 'dn':$index % 2==1}" class="ct" 
                            ng-repeat="(key, value) in resume">
                            <div class="total_n" 
                            id="{{ $index % 2 == 1 ? 'chart_total_v' : 'chart_total_d' }}"
                            id="chart_total_v">{{value}}</div>
                            <div class="total_t">total {{key}}</div>
                        </div>
                    </div>
                    <div class="left ec" id="chart_subtotal">
                        <div>
                            <div class="left">
                                <div class="subtotal_n" id="civiles">{{victims_count.civiles}}</div>
                                <div class="subtotal_t">civiles</div>
                            </div>
                            <div class="left">
                                <div class="subtotal_n" id="afros">{{victims_count.afros}}</div>
                                <div class="subtotal_t">afro <br>colombianos</div>
                            </div>
                            <div class="left">
                                <div class="subtotal_n" id="indigenas">{{victims_count.indigenas}}</div>
                                <div class="subtotal_t">indígenas</div>
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div>
                            <div class="left">
                                <div class="subtotal_n" id="mujeres">{{victims_count.mujeres}}</div>
                                <div class="subtotal_t">mujeres</div>
                            </div>
                            <div class="left">
                                <div class="subtotal_n" id="hombres">{{victims_count.hombres}}</div>
                                <div class="subtotal_t">hombres</div>
                            </div>
                            <div class="left">
                                <div class="subtotal_n" id="menores">{{victims_count.menores}}</div>
                                <div class="subtotal_t">niños</div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div id="container"></div>
            </div>
            <div id="resumen" ng-class="{'ui-tabs-hide' : tab != 2, 'hidden' : !showTabs}"  class="ui-tabs-panel ui-widget-content ui-corner-bottom">
                <div class="div_table_totalxd">
                    <div id="resumen_ec" class="left half" style="display: block;">
                        <div id="resumen_total_ec" ng-if="$index == 1" class="ec resumen_total" ng-repeat="(key, value) in resume">
                            <div id="resumen_total_ec_num" class="num">{{value}}</div>
                            <div class="cat bold">Total de
                                <span class="data_title">eventos</span>
                            </div>
                        </div>
                        <div class="resumen_row ect" id="60" ng-repeat="(key, value) in events_by_category.violencia_armada">
                            <div class="cat_color hide" style="background-color: rgb(55, 208, 16);">&nbsp;</div>
                            <div class="num">{{value}}</div>
                            <div class="cat">{{key}}</div>
                        </div>
                    </div>
                    <div id="resumen_dn" class="left half" style="display: block;">
                        <div id="resumen_total_dn" ng-if="$index == 0" class="dn resumen_total" ng-repeat="(key, value) in resume">
                            <div id="resumen_total_dn_num" class="num">{{value}}</div>
                            <div class="cat">Total de
                                <span class="data_title">eventos</span>
                            </div>
                        </div>
                        <div class="resumen_row dnt" ng-repeat="(key, value) in events_by_category.desastres">
                            <div class="cat_color hide">&nbsp;</div>
                            <div class="num">{{value}}</div>
                            <div class="cat">{{key}}</div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div id="departamentos" ng-class="{'ui-tabs-hide' : tab != 3, 'hidden' : !showTabs}" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
                <div id="div_table_totalxd" class="div_table_totalxd">
                    <table id="table_totalxd">
                        <thead>
                            <tr>
                                <th class="d"></th>
                                <th class="ec">Violencia</th>
                                <th class="dn">Desastres</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="totalxd">
                                <td class="left">Total</td>
                                <td class="ec" ng-repeat="(key, value) in resume" ng-if="$index == 1">{{value}}</td>
                                <td class="dn" ng-repeat="(key, value) in resume" ng-if="$index == 0">{{value}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /Tabs -->
        
        <!-- Tabla variacion -->
        <div id="variacion_data" class="hide">
        </div>
        <!-- /Tabla variacion -->
    </div>
    <!--/ Data right -->
    
    <div class="clear"></div>
</div>