<div id="layers_div" class="filtro" style="display: block;" ng-class="{'hide' : close}">
    <div class="left">
        <div class="left">
            <h1 class="dosis">Adicionar capas al mapa</h1>
        </div>
        <div id="layers_loading" class="hide right" style="display: none;">
            <img src=""><span>Cargando capa....</span>
        </div>
        <div class="clear"></div>
    </div>
    <div class="right">
        <a data-div="layers_div" ng-click="show_modal_layers()" class="close"><img src="../../../assets/img/close.png" alt="Cerrar" src=""></a>
    </div>
    <div class="clear"></div>
    <p class="inline-block">
        Capas disponibles en el sistema <a href="http://geonode.umaic.org" target="_blank">GEONODE</a>
        de Sala Humanitaria
    </p>
    <div class="left w100 mb5">
        <input type="text" class="w100" ng-model="searchText" placeholder="Buscar por palabra en nombre o descripción">
    </div>
    <div class="clear"></div>
    <div class="pt15">
        <div class="item-layer" ng-repeat="l in layers | filter:searchText">
            <div class="left layer w100"> 
                <input type="checkbox"  ng-model="l.isChecked" ng-change="layer(l)">
                <h3>{{l.title}}</h3>
                <p class="nota">{{l.text}}</p>
            </div>
        </div>
    </div>
</div>