<div id="totalxd" class="">
    <!-- Data right -->
    <div id="data">
        <div id="tabs" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
            <div id="minmax_total" class="minimize" ng-click="showHideTabs()"></div>
            <ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
                <li ng-class="{'ui-tabs-selected ui-state-active': tab == 1}" class="ui-state-default ui-corner-top">
                    <a ng-click="changeTab(1)">Resumen</a>
                </li>
                <li ng-class="{'ui-tabs-selected ui-state-active': tab == 2}" class="ui-state-default ui-corner-top">
                    <a ng-click="changeTab(2)">Categorías</a>
                </li>
                <li ng-class="{'ui-tabs-selected ui-state-active': tab == 3}" class="ui-state-default ui-corner-top">
                    <a ng-click="changeTab(3)">Zonas</a>
                </li>
            </ul>
            <div id="tendencia" ng-class="{'ui-tabs-hide' : tab != 1, 'hidden' : !showTabs}" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
                <div id="chart_t_s">
                    <div class="left" id="chart_total">
                        <div class="ct ct-char-victim" ng-repeat="(key, value) in resumeForms" style="background-color: #{{value.color}} !important;">
                            <div  class="char-victim-name-post">
                                <div class="total_n" id="chart_total_v">{{value.total_posts}}</div>
                                <div class="total_t">total {{value.name}}</div>
                            </div>
                            <div class="char-victim-info" id="chart_subtotal">
                                <div>
                                    <div class="left" ng-repeat="(k, v) in value.victims" style="background-color: #{{value.color}} !important;">
                                        <div class="subtotal_n" id="civiles">{{v}}</div>
                                        <div class="subtotal_t">{{k}}</div>
                                    </div>
                                    <div class="clear"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="clear"></div>
                </div>
                <div id="container"></div>
            </div>
            <div id="resumen" ng-class="{'ui-tabs-hide' : tab != 2, 'hidden' : !showTabs}"  class="ui-tabs-panel ui-widget-content ui-corner-bottom">
                <div class="div_table_totalxd">
                    <div id="resumen_ec" class="left half" style="display: block;">
                        <div id="resumen_total_ec" class="ec resumen_total" ng-repeat="(key, value) in resumeForms"
                             style="background-color: #{{value.color}} !important; width: 25% !important;">
                            <div id="resumen_total_ec_num" class="num">{{value.total_posts}}</div>
                            <div class="cat bold">Total de
                                <span class="data_title">eventos</span>
                            </div>
                            <div class="resumen_row ect" id="60" ng-repeat="(k, val) in value.categories">
                                <div class="cat_color hide" style="background-color: rgb(55, 208, 16);">&nbsp;</div>
                                <div class="num">{{val}}</div>
                                <div class="cat">{{k}}</div>
                            </div>
                        </div>

                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div id="departamentos" ng-class="{'ui-tabs-hide' : tab != 3, 'hidden' : !showTabs}" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
                <div id="div_table_totalxd" class="div_table_totalxd">
                    <table id="table_totalxd">
                        <thead>
                        <tr>
                            <th class="d"></th>
                            <th class="ec" ng-repeat="(key, value) in resumeForms" style="background-color: #{{value.color}} !important;">{{value.name}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="totalxd" ng-repeat="(key, value) in resumeFormPlaces">
                            <td class="left">{{value.name}}</td>
                            <td class="ec" ng-repeat="(k, v) in value.forms">{{v}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /Tabs -->

        <!-- Tabla variacion -->
        <div id="variacion_data" class="hide">
        </div>
        <!-- /Tabla variacion -->
    </div>
    <!--/ Data right -->

    <div class="clear"></div>
</div>
